<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
  <img src="/img/about.jpg" height="300px" />
  <p>I’ve been working as a Software Engineer at <a href="https://nulogy.com">Nulogy</a> since early 2014.
    The collaborative, Modern Agile/XP environment that I work in gives me the space and autonomy to drive innovation. 
    I enjoy learning ways to be better than I was yesterday through personal development. 
    This is why <a href="https://www.goodreads.com/user/show/62723093-shahriyar">books</a> and ideas make me tick. 
    I also like pursuing technological mastery in a way that I can share with others.
  </p>
  <p>You can reach out to me professionally at these social media sites:</p>
  <h3>Networking</h3>
  <ul>
    <li><a href="https://www.linkedin.com/in/shahriyar/">LinkedIn</a></li>
    <li><a href="https://angel.co/snasirca">AngelList</a></li>
    <li><a href="https://www.twitter.com/ShahriyarNasir">Twitter</a></li>
    <li><a href="https://www.meetup.com/members/89337752/">Meetup</a></li>
  </ul>
  <h3>Other Websites I Publish On</h3>
  <ul>
    <li><a href="https://medium.com/@ShahriyarNasir">Medium</a> for my more significant blog posts</li>
  </ul>
  <h3>Continuous Learning</h3>
  <ul>
    <li><a href="https://www.goodreads.com/user/show/62723093-shahriyar">Goodreads</a> to see what I’ve read/am currently reading</li>
  </ul>
</div>